<a class="footer_link" href="https://www.instagram.com/danseiders3/">Instagram</a>
<a class="footer_link" href="https://twitter.com/danseiders?lang=en">Twitter</a>
<a class="footer_link" href="https://www.facebook.com/dan.seiders">Facebook</a>