<div>
    <div>
        <a class="footer_link" href="https://www.linkedin.com/in/dan-seiders"><i class="fab fa-linkedin"></i></a>
        <a class="footer_link" href="https://www.instagram.com/danseiders3/"><i class="fab fa-instagram"></i></a>
        <a class="footer_link" href="https://twitter.com/danseiders?lang=en"><i class="fab fa-twitter"></i></a>
        <a class="footer_link" href="https://www.facebook.com/dan.seiders"><i class="fab fa-facebook-square"></i></a>
    </div>
    <div>
        <p class="copyright"> © Dan Seiders</p>
    </div>
</div>