<a class="footer_link" href="https://www.instagram.com/danseiders3/">INSTAGRAM</a>
<a class="footer_link" href="https://twitter.com/danseiders?lang=en">TWITTER</a>
<a class="footer_link" href="https://www.facebook.com/dan.seiders">FACEBOOK</a>