<div class="header">
    <div class="main_logo">
        <h1>THE PODSquad</h1>
    </div>
    <div class="login_container">
        <a class="login" href="/login">LOGIN</a>
        <a class="new_user" href="/newuser">JOIN</a>
    </div>
</div>