<div class="header">
    <div class="main_logo">
        <h1>PODSquad</h1>
    </div>
    <div class="login_container">
        <a class="login" href="/login">Have an account?</a>
        <a class="new_user" href="/newuser">Sign up</a>
    </div>
</div>