<div class="header">
    <div class="main_logo_container">
        <a href="/"><h1 class="main_logo">PODSquad</h1></a>
    </div>
    <div class="login_container">
        <% if (currentUser) { %>
            <h3>Welcome! <%= currentUser.email %> </h3>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="LOG OUT" class="btn btn-primary">
            </form>
        <% } else { %>
            <a class="new_user" href="/users/new">Sign up</a>
        
        <% } %> 
    </div>
</div>