<div class="nav_container">
    <a class="nav" href="/">HOME</a>
    <a class="nav" href="/<%= userPodId %>/edit">YOUR POD</a>
    <a class="nav" href="/">NEARBY PODS</a>
    <a class="nav" href="/new">ADD POD</a>
</div>