<div class="nav_container">
    <a class="nav" href="/">HOME</a>
    <a class="nav" href="/user">YOUR POD</a>
    <a class="nav" href="/nearby">NEARBY PODS</a>
    <a class="nav" href="/new">ADD POD</a>
</div> 