<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <h1>This is the NEW ENTRY page</h1>
    <form action="/logs" method="POST">
        <label name='title'>Title:</label>
        <input type="text" name="title" id="title">
        <label name='entry'>Entry:</label>
        <input type="textarea" name="entry" id="entry">
        <label name='shipIsBroken'>Broken Ship:</label>
        <input type="checkbox" name="shipIsBroken" id="shipIsBroken">
        <input type="submit" value="Submit Log">
    </form>
    <a href="/pods">go back to pods in your area</a>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</body>
</html>