<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs') %>
</head>
<header>
    <%- include('./partials/header.ejs') %>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
</header>
<body>
    <h1>Show page</h1>
    
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</body>
</html>