@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root {
    --darkblue: #084B83;  
    --darkgreen: #125768;
    --lightblue: #2361b1;
    --lightgreen: #BBE6E4;
    --white: rgba(240, 246, 246, 1);
    --pink: #fc1f8d;
}

/******** WHOLE PAGE ********/
h2 {
    color: white;
}
h4 {
    color: white;
    font-size: 30px;
    background-color: rgba(8, 76, 131, 0.89);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

p {
    font-size: 20px;
}

.page-title {
    text-align: center;
}

.form-group {
    background-color: rgba(250, 28, 139, 0.658);
    border-radius: 15px;
    color: var(--white);
    font-weight: bold;
}

a:hover{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: var(--white)
}


/******** HEADER AND NAV ********/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Comfortaa', cursive;   
    
}

nav {
    background-color: var(--lightblue);
}

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 300px;
    text-align: center;
}

.nav {
    color: var(--white)
}

.main_logo {
    font-size: 60px;
    padding: 10px;
    text-decoration: none;
    text-shadow: 5px 5px var(--darkblue);
}

.signup

/******** INDEX PAGE ********/
.index-body{
    background-color: var(--darkblue);
    text-align: center;
}
.index-main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.pod-family-container {
    text-align: center;
    background-color: var(--lightblue);
    border-radius: 50px;
    color: white;
    margin: 10px;
}
.index-pod-image {
    height: auto;
    width: 300px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}


/******** NEW PAGE ********/
.new-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkblue);
    color: var(--white);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
}
.new-pod-page {
    display: flex;
    flex-direction: row;
    
}

.image_with_form {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

/******** SHOW PAGE ********/
.show-body{
    background-color: var(--darkblue);
}
.show-main-container{
    display: flex;
}

.show-pod-image {
   width: 500px;
   height: auto;
}



/******** FOOTER ********/
footer {
    text-align: center;
   
    font-family: 'Comfortaa', cursive;
    background-color: var(--lightblue);
}

.footer_link {
    margin: 30px;
    color: white;
}

/******** LOGO STYLES ********/
.logo_sm {
    padding: 5px;
    font-family: 'Comfortaa', cursive;   
    color: var(--white);
    text-shadow: 2px 2px var(--darkblue);
}
.logo_md {
    padding: 5px;
    font-family: 'Comfortaa', cursive;   
    color: var(--white);
    text-shadow: 2px 2px var(--pink);
}

/******** NEW SESSION ********/
.new-session-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkblue);
    color: var(--white);
    background-image: url('/images/holding_hands.jpg');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
}
.new-session-container {
    display: flex;
    justify-content: center;
}

.login_intro {
    width: 350px;
    height: 500px;
    border-radius: 25px;
    color: darkblue;
    text-align: center;
    background-color: rgba(240, 246, 246, 0.678)
}

.intro_container {
    display: flex;
    justify-content: center;
}

.login_container {
    padding: 10px 20px;
}

#signup_link {
    color: var(--pink);
    font-weight: bold;
}
#signup_link:hover {
    text-decoration: underline;
}


/********** NEW USER **********/
.new-user-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkblue);
    background-image: url('/images/dad_with_children.jpg');
    color: var(--white);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.new-user-intro {
    width: 350px;
    height: auto;
    border-radius: 15px;
    color: darkblue;
    text-align: center;
    background-color: rgba(240, 246, 246, 0.678);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.404);
}

.new-user-container {
    display: flex;
    justify-content: center;
}
