<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body class='intro-body'>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <div class="container-md intro_container">
        <div class="login_intro">
            <h4>Welcome to <span class="logo_md">PODSquad</span>!</h4>
            <p>Here at <span class="logo_sm">PODSquad</span> you can connect with local people or familes that follow similar COVID-19 protocols. <br><br> Log in or <a href='/newuser' id="signup_link">create a new account</a> to get started!</p>
            <div class="form-container"> 
                <form action="" method="POST" >
                    <div class="form-group">
                        <label name="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label name="password">Password</label>
                        <input type="password" class="form-control"name="password" id="password">
                    </div>
                    <input type="submit" name="login" value="Log in with email" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>

    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</body>
</html>