<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <%- include ('../partials/head.ejs') %>
    </head>
    <body class='new-user-body'>
        <header>
            <%- include('../partials/header.ejs') %>
        </header>
    
    <div class="container-md new-user-container">
        <div class="new-user-intro form-container"> 
        <h4>Sign Up</h4>
            <form action="/users" method="POST">
                    <div class="col-md-auto new-email">
                    <input type="text" class="form-control" name="email" placeholder="Email" id="email"/>
                    </div>
                    <div class="col-md-auto new-password">
                    <input type="password" class="form-control" name="password" placeholder="Password"id="password"/>
                    </div>
                <input type="submit" class="btn btn-primary" value="Join PODSquad">
            </form>
        </div>
    </div>
    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>
    </body>
</html>